h2 {
    text-align: center;
}

form {
    margin: 0 auto;
    width: 170px;
}

form input {
    margin-bottom: 10px;
    padding: 0% 3%;
    width: 94%;
    height: 30px;
}

form button {
    width: 100%;
    height: 30px;
}

p {
    text-align: center;
}

.error {
    color: rgb(255, 0, 0);
}

.success {
    color: green;
}

/*
    <!-- <?php
    //select all
        $sql = "SELECT * FROM users;";
        $result = mysqli_query($conn, $sql);
        $resultCheck = mysqli_num_rows($result);

        //export from db
        if ($resultCheck > 0){
            while ($row = mysqli_fetch_assoc($result)){
                echo $row['user_uid'], '<br>';
            }
        }
    ?> -->

    <?php
        //Select data that match $data
        $data = "cat1";
        //create a template
        $sql = "SELECT * FROM users WHERE user_uid=?;";
        //create a prepared statement
        $stmt = mysqli_stmt_init($conn);
        //prepare the prepared statement
        if (!mysqli_stmt_prepare($stmt, $sql)) {
            echo "SQL statement failed";
        } else {
            //bind paramenter to the placeholder (?)
            mysqli_stmt_bind_param($stmt, "s", $data); // 2 cái s cho uid và first
            // sau đó thì 2 cái data tương ứng nhét vào

            //run paramenters inside database
            mysqli_stmt_execute($stmt);
            $result = mysqli_stmt_get_result($stmt);

            while ($row = mysqli_fetch_assoc($result)){
                echo $row['user_uid'], '<br>';
            }
        }         
    ?>
*/

